$l = 'screen and (max-width: 1400px)'
$m = 'screen and (max-width: 1200px)'
$s = 'screen and (max-width: 1000px)'
$xs = 'screen and (max-width: 768px)'
$xss = 'screen and (max-width: 540px)'
$xsss = 'screen and (max-width: 420px)'
$xssss = 'screen and (max-width: 360px)'




$orange = #FFE3CE
