extends layouts/default

block content
    .header
        .header__star
            svg.header__star-icon: use(xlink:href="../f/i/icons.svg#star")
        .header__title Workment
        .header__menu 
            img.header__menu-sandvich(src="f/i/sandvich.svg")
            a.header__menu-item(href="#") home
            a.header__menu-item(href="#") work
            a.header__menu-item(href="#") about
            a.header__menu-item(href="#") blog
            a.header__menu-item(href="#") contact
        .mobile-menu
            a.mobile-menu__item(href="#") home
            a.mobile-menu__item(href="#") work
            a.mobile-menu__item(href="#") about
            a.mobile-menu__item(href="#") blog
            a.mobile-menu__item(href="#") contact
            a.mobile-menu__close(href="#")
                img.mobile-menu__close-cross(src="f/i/cross.svg")
        .header__email
            svg.header__email-icon: use(xlink:href="../f/i/icons.svg#email")
    .section.orange
        .section__sidebar
            a.section__sidebar-item(href="#")
                svg.section__sidebar-item-icon: use(xlink:href="../f/i/icons.svg#pinterest")
            a.section__sidebar-item(href="#")
                svg.section__sidebar-item-icon: use(xlink:href="../f/i/icons.svg#twiter")
            a.section__sidebar-item(href="#")
                svg.section__sidebar-item-icon: use(xlink:href="../f/i/icons.svg#fb")
            a.section__sidebar-item(href="#")
                svg.section__sidebar-item-icon: use(xlink:href="../f/i/icons.svg#insta")
        .section__content
            .section__texts 
                svg.section__texts-picture.top: use(xlink:href="../f/i/icons.svg#triangle")
                .section__texts-title Technology & Design
                .section__texts-selected studio
                .section__texts-subtext Lorem Ipsum is simply dummy text of the printingand typesetting industry. 
                .btn__bg: a.btn(href="#") get started
                svg.section__texts-picture.bottom: use(xlink:href="../f/i/icons.svg#bigstar")
            .section__photos
                .section__photos-photo.first(style="background-image: url('f/i/photo1.jpg');")
                .section__photos-photo.two(style="background-image: url('f/i/photo2.jpg');")
                .section__photos-photo.three(style="background-image: url('f/i/photo3.jpg');")
                .section__photos-circleicon(style="background-image: url('f/i/circleicon.jpg');")
        .section__sidebar
    .section.n2
        .section__sidebar
            .section__sidebar-text What We Can Do For You
        .section__content
            .skills
                .skills__item
                    .skills__item-text
                        h2 we can help you with
                        p Lorem Ipsum is simply dummy text of the printingand typesetting industry.
                .skills__item 
                    .skills__item-text
                        img.skills__item-text-icon(src="f/i/rooper.svg")
                        h4 Online Marketing
                        p Long established fact that a reader will be distracted by the readable design content layout.
                        a.link(href="#") read more
                .skills__item 
                    .skills__item-text
                        img.skills__item-text-icon(src="f/i/planet.svg")
                        h4 Technology
                        p Long established fact that a reader will be distracted by the readable design content layout.
                        a.link(href="#") read more
                .skills__item
                    .skills__item-text
                        img.skills__item-text-icon(src="f/i/case.svg")
                        h4 Business
                        p Long established fact that a reader will be distracted by the readable design content layout.
                        a.link(href="#") read more
                a.btn(href="#").skills more services
        .section__sidebar
    .banner
        .banner__texts
            svg.banner__texts-icon: use(xlink:href="../f/i/icons.svg#4star")        
            .banner__texts-text full-service
            svg.banner__texts-icon: use(xlink:href="../f/i/icons.svg#heart")
            .banner__texts-text creative digital
            svg.banner__texts-icon: use(xlink:href="../f/i/icons.svg#agency")
    .section.n3
        .section__sidebar 
            .section__sidebar-text Some of our finest work
        .section.n3__content
            .projects
                .projects__item
                    .projects__item-text
                        h3 Web Application
                        p Branding, UIUX Design
                        hr
                        p Lorem Ipsum is simply text of the printingand typesetting industry.
                        a.link(href="#") view project
                    .projects__item-photo(style="background-image: url('f/i/project01.jpg');")
                .projects__item
                    .projects__item-text
                        h3 Creative Agency
                        p Branding, UIUX Design
                        hr
                    .projects__item-photo(style="background-image: url('f/i/project02.jpg');")
                .projects__item
                    .projects__item-text
                        h3 Digital Agency
                        p Branding, UIUX Design
                        hr
                    .projects__item-photo(style="background-image: url('f/i/project03.jpg');")
                .projects__item
                    .projects__item-text
                        h3 Texas Protfolio
                        p Branding, UIUX Design
                        hr
                    .projects__item-photo(style="background-image: url('f/i/project04.jpg');")
            .btn__bg: a.btn(href="#") get started
        .section__sidebar
    .special
        .special__text
            svg.special__text-icon: use(xlink:href="../f/i/icons.svg#disc") 
            h2 What makes us special?
            p Lorem Ipsum is simply dummy text of the printingand typesetting industry.
        .special__statics
            .special__statics-item
                h1 50+
                p Years of operation
            .special__statics-item
                h1 360
                p Project Delivery
            .special__statics-item
                .yellowbg
                    h1 600
                    p Specialist
            .special__statics-item
                h1 75+
                p Awards Of Exellency
    .section.n4
        .section__sidebar 
            .section__sidebar-text Testimonials
        .section__content
            .feedback
                .feedback__bgicon
                .feedback__item
                    .feedback__item-comment(style="background-image: url('f/i/comment.jpg');")
        .section__sidebar
    .banner.n2
        img.banner.n2__icon(src="f/i/pc1.svg")
        img.banner.n2__icon(src="f/i/pc2.svg")
        img.banner.n2__icon(src="f/i/pc3.svg")
        img.banner.n2__icon(src="f/i/pc4.svg")
        img.banner.n2__icon(src="f/i/pc5.svg")
        img.banner.n2__icon(src="f/i/pc6.svg")
    .section.n5
        .section__sidebar 
            .section__sidebar-text About US
        .section__content
            .progress
                .progress__image(style="background-image: url('f/i/bg-aboutus.jpg');")
                .progress__text
                    .sticky
                        h2 Unique Solutions for You Business
                        p It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
                        p of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop
                        .btn__bg: a.btn(href="#") About Agency
        .section__sidebar
    .section.n6
        .section__sidebar 
            .section__sidebar-text Awards
        .section__content
            .history
                .history__text
                    .history__text-info 
                        .history__text-info-years 2018
                        h3 Designers meeting
                        p It is a long established fact that  reader will be distracted readable content of when looking.
                    .history__text-info 
                        .history__text-info-years 2020
                        h3 Service design
                        p It is a long established fact that  reader will be distracted readable content of when looking.
                    .history__text-info 
                        .history__text-info-years 2021
                        h3 Packaging
                        p It is a long established fact that  reader will be distracted readable content of when looking.
                .history__video
                    .history__video-slide(style="background-image: url('f/i/video.jpg');")
        .section__sidebar
    .section.n7
        .section__sidebar 
            .section__sidebar-text News
        .section__content
            .news
                .news__title
                    .news__title-text
                        h2 Latest news
                        p It is a long established fact that a reader will be distracted by the readable.
                    img.news__title-icon(src="f/i/news-icon.svg")
                .news__cards
                    a.news__cards-card(href="#")
                        .news__cards-card-bg
                            .news__cards-card-bg-photo(style="background-image: url('f/i/news1.jpg');")
                        .news__cards-card-usercomm
                            .news__cards-card-usercomm-user
                                img.news__cards-card-usercomm-user-icon(src="f/i/comm.svg") 
                                .news__cards-card-usercomm-user-info John Smith
                            .news__cards-card-usercomm-data
                                img.news__cards-card-usercomm-user-icon(src="f/i/data.svg") 
                                .news__cards-card-usercomm-user-info June 15, 2022
                            .news__cards-card-usercomm-comment Range input with completely custom design styles
                                img.news__cards-card-usercomm-comment-arrow(src="f/i/whitearrow.svg")  
                    a.news__cards-card(href="#")
                        .news__cards-card-bg
                            .news__cards-card-bg-photo(style="background-image: url('f/i/news2.jpg');")
                        .news__cards-card-usercomm
                            .news__cards-card-usercomm-user
                                img.news__cards-card-usercomm-user-icon(src="f/i/comm.svg")
                                .news__cards-card-usercomm-user-info John Smith
                            .news__cards-card-usercomm-data
                                img.news__cards-card-usercomm-user-icon(src="f/i/data.svg") 
                                .news__cards-card-usercomm-user-info June 15, 2022
                            .news__cards-card-usercomm-comment Range input with completely custom design styles
                                img.news__cards-card-usercomm-comment-arrow(src="f/i/whitearrow.svg")    
            .btn__bg: a.btn(href="#") More Blog
        .section__sidebar
    .banner.n3
        img.banner.n3__icon(src="f/i/sonne.svg")
        .banner.n3__text
            p Need a successful project?
            h2 Lets Work Together
            .btn__bg: a.btn(href="#").long-white Estimate Project
    .section.n8
        .section__sidebar
        .footer
            .footer__main
                .footer__main-text
                    .footer__main-text-title
                        img.footer__main-text-title-icon(src="f/i/small-star.svg")
                        h2 Workment
                    p It is a long established fact that  reader will be distracted readable content of when looking.
                    h4 agency@workment.com
                    h4 +01 984 555 000
                    img.footer__main-text-icon(src="f/i/twiter-pink.svg")
                    img.footer__main-text-icon(src="f/i/facebook-pink.svg")
                    img.footer__main-text-icon(src="f/i/insta-pink.svg")
                    img.footer__main-text-icon(src="f/i/twiter-pink.svg")
                .footer__main-message
                    h3 Newsletter
                    .footer__main-message-info
                        img.footer__main-message-info-rocket(src="f/i/rocket.svg")
                        input.mail(type="text" placeholder="your mail here")
                        .btn__bg: a.btn(href="#") Send message
            .footer__menu
                .footer__menu-part1
                    a.footer__menu-item(href="#") home
                    a.footer__menu-item(href="#") work
                    a.footer__menu-item(href="#") contact
                .footer__menu-part2
                    a.footer__menu-item(href="#") licenses
                    a.footer__menu-item(href="#") style Guide
                    a.footer__menu-item(href="#") changelog
        .section__sidebar
    .end
        .end__sidebar
        .end__copyright Copyright © workment | Designed by VictorFlow Templates - Powered by Webflow
        a.end__sidebar(href='#')
            img.end__sidebar-arrow(src="f/i/arrow-up.svg")
